<!-- <app-esri-map
  [center]="mapCenter"
  [basemap]="basemapType"
  [zoom]="mapZoomLevel"
  (mapLoaded)="mapLoadedEvent($event)">
</app-esri-map> -->


<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="flexContainer blueBackground">
        <ul class="nav flexItem flexStart">
            <li><a href="#">Worldbank Programming Challenge</a></li>
        </ul>
        <ul class="nav flexContainer flexEnd">
            <li><a href="#">Ken Payson GitHub</a></li>
            <!-- <li><a href="#">Products</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact</a></li> -->
        </ul>
    </nav>
    <div class="flexContainer flexItem">
        <main class="flexItem whiteBackground main">
            <div class="map" leaflet 
              [leafletOptions]="options"

              [leafletZoom]="zoom"
              [leafletCenter]="center"
              [leafletFitBounds]="fitBounds" 

              [leafletLayersControl]="layersControl" 
              (leafletMapReady)="onMapReady($event)"></div>


        </main>
        <aside class="sidebar sidebarLeft">
            Countries: 
            <!-- <select (change)="countrySelect($event.target.value)">
              <option *ngFor="let country of countries" value="{{country.alpha3}}">{{country.name}}</option>
            </select> -->
            <select (change)="countrySelect($event.target.value)">
                <option *ngFor="let country of countries" value="{{country.code}}">{{country.name}}</option>
              </select>
        </aside>

    </div>

</div>